name: Pull request validation

on:
  pull_request:
    branches:
      - main

jobs:
  pr-validation:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the source code
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0
    
      - name: Move related JIRA tasks status from IN PROGRESS to CODE REVIEW
        env:
            GITHUB_TOKEN: ${{ secrets.SUPER_SECRET }}
        run: |
          temp=$(echo "${{ github.event.pull_request.title }}" | grep -o '\[[^]]*\]' | sed 's/\[//;s/\]//' | tr -d ' ')
          IFS=$',' read -ra keys <<< "$temp"
          for key in "${keys[@]}"; do
            echo "Move $key to CODE REVIEW."
            curl -u ${{ secrets.JIRA_USER_EMAIL }}:${{ secrets.JIRA_API_TOKEN }} -X POST --data '{"transition":{"id":"71"}}' -H "Content-Type: application/json" ${{ secrets.JIRA_BASE_URL }}/rest/api/3/issue/$key/transitions
          done
